body {
    margin: 0;
}

/* .box {
    overflow: auto;
    width: 100px;
    height: 100px;
    padding: 30px;
    background-color: lightseagreen;
    border: 20px solid indianred;
} */
 
.box {
    width: 100px;
    height: 100px;
    background-color: indianred;
}
